<h1>Post an Answer to this Question</h1>
{{#if addNewAnswer}}

  <form>
    <label for="answerUser">User</label>
    {{input value=answerUser}}

    <label for="answerText">answer</label>
    {{input value=answerText}}

    <button class="btn btn-warning" {{action 'postAnswer'}}>Post Answer</button>
  </form>
{{else}}
  <button class="btn btn-warning" {{action "answerFormShow"}}>Answer This Question</button>
{{/if}}
