{{#if addNewQuestion}}
  <h1>New Question</h1>

      <form>
          <label for="user">User</label>
          {{input value=user }}

          <label for="questionText">Question</label>
          {{input value=questionText}}

          <label for="note">Notes</label>
          {{input value=note}}

        <button {{action 'saveQuestion'}}>Post Question</button>
      </form>
{{else}}
    <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
