<h1> {{model.user}} asks: {{model.questionText}} </h1>
{{question-detail  question=model delete="delete" addToFavorites="addToFavorites"}}
{{update-question question=model update="update"}}
<button class="btn btn-danger"{{action 'delete' model}}>Delete This Post</button>
{{new-answer question=model postAnswer="postAnswer"}}
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.answerUser}} asks: {{answer.answerText}}</li>
  {{/each}}
</ul>
